:root {
  --text: #003459;
  --body: #fff;
  --icons: #007ea7;
  --border: #e5ebef;
}

.body {
  background-color: var(--body);
  width: 800px;
  margin: 0 auto;
  margin-top: 50px;
  border: 5px solid var(--border);
  padding: 50px;
  border-radius: 20px;
}
.nav {
  padding: 10px;
}
.city-input {
  border: 1px solid var(--border);
  width: 220px;
  height: 40px;
  border-radius: 9px;
  padding-left: 20px;
  font-size: 20px;
}
.search-form {
  display: flex;
}
.submit-btn {
  border: none;
  color: var(--body);
  border-radius: 18px;
  padding: 8px 16px;
  margin-left: 20px;
  background-color: var(--text);
}
.currentlocation-btn {
  border: none;
  color: var(--body);
  border-radius: 18px;
  padding: 8px 16px;
  background-color: var(--text);
}
.day-time {
  font-size: 20px;
  font-weight: 500;
  color: var(--text);
}
#city {
  font-size: 45px;
  font-weight: 700;
  color: var(--text);
  padding-top: 20px;
}
.temperature-unit {
  margin-top: 10px;
  color: var(--text);
  font-weight: 700;
}
#cel {
  border: 1px solid;
  border-radius: 5px;
  padding: 3px 3px;
  margin: 0 8px;
}
#cel:hover {
  background-color: var(--border);
  cursor: pointer;
  transition: ease-in-out 200ms;
}
#fer {
  border: 1px solid;
  border-radius: 5px;
  padding: 3px 6px;
  margin: 0 2px;
}
#fer:hover {
  background-color: var(--border);
  cursor: pointer;
  transition: ease-in-out 200ms;
}
.current-weather-icon {
  font-size: 120px;
  padding-top: -150px;
  color: var(--icons);
  padding-bottom: 20px;
}
.current-temperature {
  font-size: 100px;
  font-weight: 700;
  color: var(--text);
  padding-top: -50px;
}
.highest-lowest-temperature {
  display: flex;
  justify-content: center;
  font-weight: 700;
  color: var(--text);
  font-size: 25px;
}
.humidity {
  color: var(--text);
}
.wind {
  color: var(--text);
}
#unit {
  color: var(--text);
}
.current-weather {
  font-weight: 700;
  color: var(--text);
  font-size: 25px;
}
.future-weather {
  color: var(--text);
  font-weight: 700;
}
.future-weather-icon {
  font-size: 30px;
  color: var(--icons);
}
.future-temperature {
  color: var(--text);
  font-weight: 700;
}
.footer {
  color: var(--text);
  padding: 20px;
}
.git-link {
  padding: 1px;
  color: var(--icons);
}
